@import "reset.css";

.wrapper {
    max-width: 1140px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.top_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 147px;
}

header {
    background: #616d99;
}
.header_nav {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
}
.header_nav a {
    text-decoration: none;
    color: inherit;
}
.header_nav ul {
    display: flex;
}
.header_nav ul li {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    transition: background 300ms ease-in-out;
    margin: 0 1px;
}
.header_nav ul li.active {
    background: #434a64;
    border-radius: 3px;
}
.header_nav ul li:hover {
    background: #343949;
    border-radius: 3px;
    transition: background 300ms ease-in-out;
}
.bottom_line {
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;

}
.bottom_line p {
    font-size:42px;
    line-height: 48px;
    color:rgb(221, 233, 233);
    font-weight: 700;
    margin-bottom: 50px;
}
.button {
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    background: #24356d;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    letter-spacing: 0.02em;
    border-radius: 3px;
    text-decoration: none;
    color: beige;
    font-weight: 600;
    border-bottom: #5276b8;
}
.button:hover {
    background: #387aa7;
    /*border-color: black;*/
    transition: background 300ms ease-in-out;
}
section.services {
    background: #343846;
    padding: 120px 0;
    text-align: center;
}
section.services h2 {
    font-size: 40px;
    line-height: 1;
    color: aliceblue;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
}
section.services h2:after {
    content: "";
    display: block;
    width: 86px;
    height: 4px;
    background: #39a0b3d8;
    position: absolute;
    left: 50%;
    margin-left: -43px;
    bottom: 0;
}
section.services .description {
    font-size: 18px;
    line-height: 24px;
    color: #4c7777;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 70px;
}
section.services .services_list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
section.services .services_list .services_item {
    width: calc(25% - 15px);
}
section.services .services_list .services_item .img {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
section.services .services_list .services_item .item_title {
    color: #07da07;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
section.services .services_list .services_item .item_description {
    color: #c20f0f;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.02em;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}
section.contact {
    background: #5da9d1;
    padding: 120px 0;
    text-align: center;
}
section.contact h2 {
    font-size: 40px;
    line-height: 1;
    color: rgb(36, 55, 88);
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
}
section.contact h2:after {
    content: "";
    display: block;
    width: 86px;
    height: 4px;
    background: rgba(37, 35, 121, 0.15);
    position: absolute;
    left: 50%;
    margin-left: -43px;
    bottom: 0;
}
section.contact .description {
    font-size: 18px;
    line-height: 24px;
    color: rgb(36, 55, 88);
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 70px;
}
section.contact .contact_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 856px;
    margin:0 auto;
}
section.contact .contact_form input[type="text"],section.contact .contact_form input[type="email"] {
    width: calc(50% - 16px);
    margin-bottom: 25px;
    background: floralwhite;
    color: rgb(19, 17, 15);
    border:0;
    padding-left: 23px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    border-radius: 3px;
    box-sizing: border-box;
}
section.contact .contact_form textarea {
    width: 100%;
    margin-bottom: 60px;
    background: floralwhite;
    color: rgb(19, 17, 15);
    border:0;
    padding-left: 23px;
    height: 200px;
    line-height: 56px;
    font-size: 18px;
    border-radius: 3px;
    box-sizing: border-box;
    
}
section.contact .contact_form .submit {
    width: 100%;
    text-align: center;
}
section.contact .contact_form input[type="submit"] {
    border:0;
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    background: #50629c;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    letter-spacing: 0.02em;
    border-radius: 3px;
    text-decoration: none;
    color: beige;
    font-weight: 600;
    border-bottom: #50629c;
}
section.contact .contact_form input[type="submit"]:hover {
    transition: background 300ms ease-in-out;
    background: rgb(36, 55, 88);
}

footer.footer {
    background: #4a5468;
}
.footer_social {
    font-size:24px;
    letter-spacing:0.02em;
    font-weight:700;
    color:rgb(217, 222, 233);
}
.footer_social ul {
    min-height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer.footer a {
    text-decoration: none;
    color: inherit;
}
footer.footer a:hover {
    color: aqua;
}